@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html.dark .shiki,
html.dark .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
}

@theme inline {
	/* default */
	--color-bg: var(--bg); /* background color */
	--color-fg: var(--fg); /* text color */
	--color-border: var(--border); /* border color for card, buttons, etc */

	/* Nav */
	--color-scroll-progress: var(--scroll-progress); /* scroll-progress bar */
	--color-brand-label: var(--brand-label); /* brand label text color */
	--color-nav-icon-stroke: var(--nav-icon-stroke); /* stroke for svg icons */
	--color-nav-icon-bg-hover: var(--nav-icon-bg-hover); /* hover:bg for icon buttons */

	/* Footer */
	--color-footer-bg: var(--footer-bg);

	/* Passport ~ photo frame with name, occupation etc */
	--color-passport-bg: var(--passport-bg);
	--color-passport-fg: var(--passport-fg);

	/* Projects */
	--color-project-card-bg: var(--project-card-bg);

	/* Button */
	--color-btn-primary-text: var(--btn-primary-text);
	--color-btn-primary-bg: var(--btn-primary-bg);
	--color-btn-primary-bg-hover: var(--btn-primary-bg-hover);

	--color-btn-secondary-text: var(--btn-secondary-text);
	--color-btn-secondary-bg: var(--btn-secondary-bg);
	--color-btn-secondary-bg-hover: var(--btn-secondary-bg-hover);

	/* Tags */
	--color-tag-selected-text: var(--tag-selected-text);
	--color-tag-selected-bg: var(--tag-selected-bg);
	--color-tag-selected-bg-hover: var(--tag-selected-bg-hover);

	--color-tag-unselected-text: var(--tag-unselected-text);
	--color-tag-unselected-bg: var(--tag-unselected-bg);
	--color-tag-unselected-bg-hover: var(--tag-unselected-bg-hover);

	/* Posts */
	--color-post-bg-hover: var(--post-bg-hover);
}

@layer base {
	.light {
		/* default */
		--bg: #fafafa;
		--fg: #000000;
		--border: #e6e6e6;

		/* Nav */
		--scroll-progress: #000000;
		--brand-label: #000000;
		--nav-icon-stroke: #000000;
		--nav-icon-bg-hover: #f3f3f3;

		/* Footer */
		--footer-bg: #f3f3f3;

		/* Passport */
		--passport-bg: #ffffff;
		--passport-fg: #000000;

		/* Projects */
		--project-card-bg: #ffffff;

		/* Button */
		--btn-primary-text: #ffffff;
		--btn-primary-bg: #000000;
		--btn-primary-bg-hover: #303030;

		--btn-secondary-text: #000000;
		--btn-secondary-bg: #f3f3f3;
		--btn-secondary-bg-hover: #dddddd;

		/* Tags */
		--tag-selected-text: #ffffff;
		--tag-selected-bg: #000000;
		--tag-selected-bg-hover: #303030;

		--tag-unselected-text: #000000;
		--tag-unselected-bg: #ffffff;
		--tag-unselected-bg-hover: #e6e6e6;

		/* Posts */
		--post-bg-hover: #f3f3f3;
	}

	.dark {
		/* default */
		--bg: #0a0a0a;
		--fg: #ffffff;
		--border: #333333;

		/* Nav */
		--scroll-progress: #ffffff;
		--brand-label: #ffffff;
		--nav-icon-stroke: #ffffff;
		--nav-icon-bg-hover: #1a1a1a;

		/* Footer */
		--footer-bg: #1a1a1a;

		/* Passport */
		--passport-bg: #ffffff;
		--passport-fg: #000000;

		/* Projects */
		--project-card-bg: #111111;

		/* Button */
		--btn-primary-text: #000000;
		--btn-primary-bg: #ffffff;
		--btn-primary-bg-hover: #cccccc;

		--btn-secondary-text: #ffffff;
		--btn-secondary-bg: #1a1a1a;
		--btn-secondary-bg-hover: #333333;

		/* Tags */
		--tag-selected-text: #000000;
		--tag-selected-bg: #ffffff;
		--tag-selected-bg-hover: #cccccc;

		--tag-unselected-text: #ffffff;
		--tag-unselected-bg: #111111;
		--tag-unselected-bg-hover: #222222;

		/* Posts */
		--post-bg-hover: #1a1a1a;
	}
}
